<article>
  <h1>Що таке Сканлейт? 📚</h1>
  <p>Сканлейт — це все, що пов'язано з перекладом коміксів з мови оригіналу на іншу цільову мову та наданням їм
    презентабельного вигляду для читачів! ✨</p>
  <h2>Переклад 🌐</h2>
  <p>Багато хто може подумати, що бути перекладачем - це просто перекладати з мови оригіналу на рідну. Так, це основна
    частина, але не вся. Переклад набагато складніший, ніж може здатися на перший погляд.</p>

  <h2>Коректура 📝</h2>
  <p>Коректура — процес виправлення граматичних і технічних помилок та недоліків.</p>

  <h2>Очищення (або клін) 🧹</h2>
  <p>Очищення — це видалення зерен паперу зі сканованого зображення.</p>
  <!-- <p>Процес очищення складається з кількох етапів: Cropping and Straightening,
Surface Blurring, Leveling, Sharpening, Denoising/Flattening, Leveling(again), Dusting, Detail Restoration(if needed, optional but highly recommended).</p> -->
  <p><em>При роботі з цифровою версією, цей етап пропускається. Хоча і може бути корисним в окремих випадках.</em></p>
  <h2>Клін (або Перемальовування, відновлення фону) 🎨</h2>
  <p>Основним завданням є позбутися іншомовного тексту та відновлення фону, який був під текстом.</p>

  <h2>Верстка (або тайп) 🖋️</h2>
  <p>Верстка — процес втавлення вичитаного тексту на очищеній версії коміксу.</p>

  <h2>Контроль якості ✅</h2>
  <p>Заключний етап сканлейту, який включає ретельний огляд всіх аспектів роботи для забезпечення найвищої якості
    кінцевого продукту. Мета QC — виявити і виправити будь-які помилки або недоліки перед публікацією.</p>
</article>